## Series Temporales
## HW FINAL: Reservas Hotel
Borja Lacalle

### Preprocesamiento

In [46]:
## leer el dataset H2.csv

import pandas as pd
import numpy as np

data = pd.read_csv('H2.csv', sep=',', header=0)

# ver información del dataset
print(data.info())
# ver los primeros registros
data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79330 entries, 0 to 79329
Data columns (total 31 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   IsCanceled                   79330 non-null  int64
 1   LeadTime                     79330 non-null  int64
 2   ArrivalDateYear              79330 non-null  int64
 3   ArrivalDateMonth             79330 non-null  object
 4   ArrivalDateWeekNumber        79330 non-null  int64
 5   ArrivalDateDayOfMonth        79330 non-null  int64
 6   StaysInWeekendNights         79330 non-null  int64
 7   StaysInWeekNights            79330 non-null  int64
 8   Adults                       79330 non-null  int64
 9   Children                     79326 non-null  float64
 10  Babies                       79330 non-null  int64
 11  Meal                         79330 non-null  object
 12  Country                      79306 non-null  object
 13  MarketSegment                79330 non-null  object
 14  DistributionChannel          79330 non-null  object
 15  IsRepeatedGuest              79330 non-null  int64
 16  PreviousCancellations        79330 non-null  int64
 17  PreviousBookingsNotCanceled  79330 non-null  int64
 18  ReservedRoomType             79330 non-null  object
 19  AssignedRoomType             79330 non-null  object
 20  BookingChanges               79330 non-null  int64
 21  DepositType                  79330 non-null  object
 22  Agent                        79330 non-null  object
 23  Company                      79330 non-null  object
 24  DaysInWaitingList            79330 non-null  int64
 25  CustomerType                 79330 non-null  object
 26  ADR                          79330 non-null  float64
 27  RequiredCarParkingSpaces     79330 non-null  int64
 28  TotalOfSpecialRequests       79330 non-null  int64
 29  ReservationStatus            79330 non-null  object
 30  ReservationStatusDate        79330 non-null  object
dtypes: float64(2), int64(16), object(13)
memory usage: 18.8+ MB
None

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,...,DepositType,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate
0,0,6,2015,July,27,1,0,2,1,0.0,...,No Deposit,6,NULL,0,Transient,0.00,0,0,Check-Out,2015-07-03
1,1,88,2015,July,27,1,0,4,2,0.0,...,No Deposit,9,NULL,0,Transient,76.50,0,1,Canceled,2015-07-01
2,1,65,2015,July,27,1,0,4,1,0.0,...,No Deposit,9,NULL,0,Transient,68.00,0,1,Canceled,2015-04-30
3,1,92,2015,July,27,1,2,4,2,0.0,...,No Deposit,9,NULL,0,Transient,76.50,0,2,Canceled,2015-06-23
4,1,100,2015,July,27,2,0,2,2,0.0,...,No Deposit,9,NULL,0,Transient,76.50,0,1,Canceled,2015-04-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79325,0,23,2017,August,35,30,2,5,2,0.0,...,No Deposit,394,NULL,0,Transient,96.14,0,0,Check-Out,2017-09-06
79326,0,102,2017,August,35,31,2,5,3,0.0,...,No Deposit,9,NULL,0,Transient,225.43,0,2,Check-Out,2017-09-07
79327,0,34,2017,August,35,31,2,5,2,0.0,...,No Deposit,9,NULL,0,Transient,157.71,0,4,Check-Out,2017-09-07
79328,0,109,2017,August,35,31,2,5,2,0.0,...,No Deposit,89,NULL,0,Transient,104.40,0,0,Check-Out,2017-09-07
79329,0,205,2017,August,35,29,2,7,2,0.0,...,No Deposit,9,NULL,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [47]:
# Ver si hay NA´s en nuestros datos 
missing_data = data.isnull().sum()
print(missing_data)

IsCanceled                      0
LeadTime                        0
ArrivalDateYear                 0
ArrivalDateMonth                0
ArrivalDateWeekNumber           0
ArrivalDateDayOfMonth           0
StaysInWeekendNights            0
StaysInWeekNights               0
Adults                          0
Children                        4
Babies                          0
Meal                            0
Country                        24
MarketSegment                   0
DistributionChannel             0
IsRepeatedGuest                 0
PreviousCancellations           0
PreviousBookingsNotCanceled     0
ReservedRoomType                0
AssignedRoomType                0
BookingChanges                  0
DepositType                     0
Agent                           0
Company                         0
DaysInWaitingList               0
CustomerType                    0
ADR                             0
RequiredCarParkingSpaces        0
TotalOfSpecialRequests          0
ReservationStatus               0
ReservationStatusDate           0
dtype: int64

In [48]:
# rellenar los NA´s con la moda en la columna Country y con la mediana en la columna Children
data['Country'] = data['Country'].fillna(data['Country'].mode()[0])
data['Children'] = data['Children'].fillna(data['Children'].median())

In [49]:
# Crear la nueva columna 'Fecha'
data['Fecha'] = pd.to_datetime(data['ArrivalDateYear'].astype(str) + '-' + data['ArrivalDateMonth'] + '-' + data['ArrivalDateDayOfMonth'].astype(str), format='%Y-%B-%d')

# El formato '%Y-%B-%d' representa Año-Mes-Día

# Visualizar el DataFrame
print(data[['ArrivalDateYear', 'ArrivalDateMonth', 'ArrivalDateDayOfMonth', 'Fecha']])

       ArrivalDateYear ArrivalDateMonth  ArrivalDateDayOfMonth      Fecha
0                 2015             July                      1 2015-07-01
1                 2015             July                      1 2015-07-01
2                 2015             July                      1 2015-07-01
3                 2015             July                      1 2015-07-01
4                 2015             July                      2 2015-07-02
...                ...              ...                    ...        ...
79325             2017           August                     30 2017-08-30
79326             2017           August                     31 2017-08-31
79327             2017           August                     31 2017-08-31
79328             2017           August                     31 2017-08-31
79329             2017           August                     29 2017-08-29

[79330 rows x 4 columns]

In [50]:
#fecha como indice
data.set_index('Fecha', inplace=True)
data

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,...,DepositType,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate
Fecha,,,,,,,,,,,,,,,,,,,,,
2015-07-01,0,6,2015,July,27,1,0,2,1,0.0,...,No Deposit,6,NULL,0,Transient,0.00,0,0,Check-Out,2015-07-03
2015-07-01,1,88,2015,July,27,1,0,4,2,0.0,...,No Deposit,9,NULL,0,Transient,76.50,0,1,Canceled,2015-07-01
2015-07-01,1,65,2015,July,27,1,0,4,1,0.0,...,No Deposit,9,NULL,0,Transient,68.00,0,1,Canceled,2015-04-30
2015-07-01,1,92,2015,July,27,1,2,4,2,0.0,...,No Deposit,9,NULL,0,Transient,76.50,0,2,Canceled,2015-06-23
2015-07-02,1,100,2015,July,27,2,0,2,2,0.0,...,No Deposit,9,NULL,0,Transient,76.50,0,1,Canceled,2015-04-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-08-30,0,23,2017,August,35,30,2,5,2,0.0,...,No Deposit,394,NULL,0,Transient,96.14,0,0,Check-Out,2017-09-06
2017-08-31,0,102,2017,August,35,31,2,5,3,0.0,...,No Deposit,9,NULL,0,Transient,225.43,0,2,Check-Out,2017-09-07
2017-08-31,0,34,2017,August,35,31,2,5,2,0.0,...,No Deposit,9,NULL,0,Transient,157.71,0,4,Check-Out,2017-09-07
2017-08-31,0,109,2017,August,35,31,2,5,2,0.0,...,No Deposit,89,NULL,0,Transient,104.40,0,0,Check-Out,2017-09-07
2017-08-29,0,205,2017,August,35,29,2,7,2,0.0,...,No Deposit,9,NULL,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [51]:
# Eliminar las columnas que no nos sirven
data = data.drop(['ArrivalDateYear', 'ArrivalDateMonth', 'ArrivalDateDayOfMonth','Meal', 'Country', 'MarketSegment', 'DistributionChannel','IsRepeatedGuest', 'ReservedRoomType', 'AssignedRoomType',
       'BookingChanges', 'DepositType', 'Agent', 'Company',
       'DaysInWaitingList', 'CustomerType', 'ADR', 'RequiredCarParkingSpaces',
       'TotalOfSpecialRequests'], axis=1)

In [52]:
# crear columnas adicionales para contar reservas y cancelaciones con la columna 'IsCanceled' (1: cancelación, 0: reserva)
data['Reservas'] = data['IsCanceled'].apply(lambda x: 1 if x == 0 else 0)
data['Cancelaciones'] = data['IsCanceled'].apply(lambda x: 1 if x == 1 else 0)

# Agrupar por semana y realizar la suma
reservas_semanales = data.resample('W').sum()[['Reservas']]
cancelaciones_semanales = data.resample('W').sum()[['Cancelaciones']]

cancelaciones_semanales

            Cancelaciones
Fecha
2015-07-05            105
2015-07-12            163
2015-07-19            217
2015-07-26            318
2015-08-02            155
...                   ...
2017-08-06            251
2017-08-13            275
2017-08-20            332
2017-08-27            206
2017-09-03            101

[114 rows x 1 columns]

In [53]:
# Guardar las tablas de reservas y cancelaciones en archivos CSV
reservas_semanales.to_csv('reservas_semanales.csv')
cancelaciones_semanales.to_csv('cancelaciones_semanales.csv')